In [9]:
from prophet import Prophet 
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv('pop_data.csv',encoding='cp949', index_col=0)
#df=pd.DataFrame(df)
df

,202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
Date,,,,,,,,,,,,,,,,,,,,,
광진구,"351,263","351,032","350,417","350,016","349,800","349,574","349,258","348,647","348,064","347,615",...,"340,707","340,396","340,062","339,893","339,853","339,567","338,257","337,900","337,713","337,416"
화양동,"22,095","22,180","22,186","22,252","22,307","22,360","22,368","22,416","22,452","22,515",...,"23,687","23,721","23,739","23,723","23,787","23,754","23,675","23,620","23,562","23,437"
군자동,"19,902","19,897","19,888","19,894","19,935","19,952","19,980","19,940","19,958","19,897",...,"19,529","19,517","19,516","19,496","19,526","19,560","19,477","19,440","19,411","19,425"
중곡동,"85,235","85,109","85,036","84,935","84,825","84,693","84,613","84,377","84,177","84,016",...,"81,248","81,124","80,961","80,854","80,773","80,622","80,242","80,290","80,298","80,278"
능동,"11,589","11,634","11,600","11,642","11,685","11,684","11,670","11,646","11,600","11,618",...,"11,285","11,263","11,247","11,294","11,256","11,285","11,237","11,215","11,190","11,180"
광장동,"35,876","35,981","35,872","35,814","35,794","35,749","35,754","35,704","35,685","35,575",...,"34,545","34,485","34,408","34,349","34,350","34,370","34,258","34,270","34,236","34,168"
자양동,"97,023","97,023","96,527","96,337","96,181","96,172","96,017","95,816","95,622","95,472",...,"92,568","92,404","92,258","92,168","92,102","91,972","91,516","91,311","91,311","91,287"
구의동,"79,543","79,377","79,308","79,142","79,073","78,964","78,856","78,748","78,570","78,522",...,"77,845","77,882","77,933","78,009","78,059","78,004","77,852","77,754","77,705","77,641"

In [22]:
data = df.T
data.to_csv('법정동별_인구수.csv', encoding='cp949')

In [23]:
del data['광진구']
data

Date       화양동     군자동     중곡동      능동     광장동     자양동     구의동
202001  22,095  19,902  85,235  11,589  35,876  97,023  79,543
202002  22,180  19,897  85,109  11,634  35,981  97,023  79,377
202003  22,186  19,888  85,036  11,600  35,872  96,527  79,308
202004  22,252  19,894  84,935  11,642  35,814  96,337  79,142
202005  22,307  19,935  84,825  11,685  35,794  96,181  79,073
202006  22,360  19,952  84,693  11,684  35,749  96,172  78,964
202007  22,368  19,980  84,613  11,670  35,754  96,017  78,856
202008  22,416  19,940  84,377  11,646  35,704  95,816  78,748
202009  22,452  19,958  84,177  11,600  35,685  95,622  78,570
202010  22,515  19,897  84,016  11,618  35,575  95,472  78,522
202011  22,605  19,936  84,021  11,602  35,528  95,122  78,471
202012  22,658  19,930  83,805  11,610  35,440  94,928  78,311
202101  22,694  19,894  83,578  11,599  35,388  94,711  78,203
202102  22,714  19,882  83,244  11,527  35,336  94,538  78,007
202103  22,746  19,793  82,708  11,423  35,180  93,958  77,584
202104  22,854  19,790  82,565  11,406  35,120  93,773  77,468
202105  22,894  19,824  82,497  11,424  35,071  93,729  77,377
202106  22,910  19,812  82,443  11,428  35,017  93,526  77,345
202107  22,962  19,745  82,400  11,410  34,964  93,295  77,335
202108  22,993  19,744  82,236  11,386  34,891  93,038  77,190
202109  23,032  19,714  82,139  11,356  34,833  93,008  77,030
202110  23,020  19,669  82,011  11,335  34,817  93,059  76,903
202111  23,020  19,633  81,757  11,311  34,764  93,060  76,794
202112  23,138  19,591  81,636  11,301  34,665  92,947  76,718
202201  23,302  19,553  81,584  11,268  34,657  92,741  76,897
202202  23,527  19,535  81,433  11,269  34,593  92,615  77,522
202203  23,687  19,529  81,248  11,285  34,545  92,568  77,845
202204  23,721  19,517  81,124  11,263  34,485  92,404  77,882
202205  23,739  19,516  80,961  11,247  34,408  92,258  77,933
202206  23,723  19,496  80,854  11,294  34,349  92,168  78,009
202207  23,787  19,526  80,773  11,256  34,350  92,102  78,059
202208  23,754  19,560  80,622  11,285  34,370  91,972  78,004
202209  23,675  19,477  80,242  11,237  34,258  91,516  77,852
202210  23,620  19,440  80,290  11,215  34,270  91,311  77,754
202211  23,562  19,411  80,298  11,190  34,236  91,311  77,705
202212  23,437  19,425  80,278  11,180  34,168  91,287  77,641

In [24]:
data = data[['중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동']]
data

Date       중곡동     군자동      능동     구의동     광장동     화양동     자양동
202001  85,235  19,902  11,589  79,543  35,876  22,095  97,023
202002  85,109  19,897  11,634  79,377  35,981  22,180  97,023
202003  85,036  19,888  11,600  79,308  35,872  22,186  96,527
202004  84,935  19,894  11,642  79,142  35,814  22,252  96,337
202005  84,825  19,935  11,685  79,073  35,794  22,307  96,181
202006  84,693  19,952  11,684  78,964  35,749  22,360  96,172
202007  84,613  19,980  11,670  78,856  35,754  22,368  96,017
202008  84,377  19,940  11,646  78,748  35,704  22,416  95,816
202009  84,177  19,958  11,600  78,570  35,685  22,452  95,622
202010  84,016  19,897  11,618  78,522  35,575  22,515  95,472
202011  84,021  19,936  11,602  78,471  35,528  22,605  95,122
202012  83,805  19,930  11,610  78,311  35,440  22,658  94,928
202101  83,578  19,894  11,599  78,203  35,388  22,694  94,711
202102  83,244  19,882  11,527  78,007  35,336  22,714  94,538
202103  82,708  19,793  11,423  77,584  35,180  22,746  93,958
202104  82,565  19,790  11,406  77,468  35,120  22,854  93,773
202105  82,497  19,824  11,424  77,377  35,071  22,894  93,729
202106  82,443  19,812  11,428  77,345  35,017  22,910  93,526
202107  82,400  19,745  11,410  77,335  34,964  22,962  93,295
202108  82,236  19,744  11,386  77,190  34,891  22,993  93,038
202109  82,139  19,714  11,356  77,030  34,833  23,032  93,008
202110  82,011  19,669  11,335  76,903  34,817  23,020  93,059
202111  81,757  19,633  11,311  76,794  34,764  23,020  93,060
202112  81,636  19,591  11,301  76,718  34,665  23,138  92,947
202201  81,584  19,553  11,268  76,897  34,657  23,302  92,741
202202  81,433  19,535  11,269  77,522  34,593  23,527  92,615
202203  81,248  19,529  11,285  77,845  34,545  23,687  92,568
202204  81,124  19,517  11,263  77,882  34,485  23,721  92,404
202205  80,961  19,516  11,247  77,933  34,408  23,739  92,258
202206  80,854  19,496  11,294  78,009  34,349  23,723  92,168
202207  80,773  19,526  11,256  78,059  34,350  23,787  92,102
202208  80,622  19,560  11,285  78,004  34,370  23,754  91,972
202209  80,242  19,477  11,237  77,852  34,258  23,675  91,516
202210  80,290  19,440  11,215  77,754  34,270  23,620  91,311
202211  80,298  19,411  11,190  77,705  34,236  23,562  91,311
202212  80,278  19,425  11,180  77,641  34,168  23,437  91,287

In [25]:
data.to_csv('법정동별_인구수.csv', encoding='cp949')
data

Date       중곡동     군자동      능동     구의동     광장동     화양동     자양동
202001  85,235  19,902  11,589  79,543  35,876  22,095  97,023
202002  85,109  19,897  11,634  79,377  35,981  22,180  97,023
202003  85,036  19,888  11,600  79,308  35,872  22,186  96,527
202004  84,935  19,894  11,642  79,142  35,814  22,252  96,337
202005  84,825  19,935  11,685  79,073  35,794  22,307  96,181
202006  84,693  19,952  11,684  78,964  35,749  22,360  96,172
202007  84,613  19,980  11,670  78,856  35,754  22,368  96,017
202008  84,377  19,940  11,646  78,748  35,704  22,416  95,816
202009  84,177  19,958  11,600  78,570  35,685  22,452  95,622
202010  84,016  19,897  11,618  78,522  35,575  22,515  95,472
202011  84,021  19,936  11,602  78,471  35,528  22,605  95,122
202012  83,805  19,930  11,610  78,311  35,440  22,658  94,928
202101  83,578  19,894  11,599  78,203  35,388  22,694  94,711
202102  83,244  19,882  11,527  78,007  35,336  22,714  94,538
202103  82,708  19,793  11,423  77,584  35,180  22,746  93,958
202104  82,565  19,790  11,406  77,468  35,120  22,854  93,773
202105  82,497  19,824  11,424  77,377  35,071  22,894  93,729
202106  82,443  19,812  11,428  77,345  35,017  22,910  93,526
202107  82,400  19,745  11,410  77,335  34,964  22,962  93,295
202108  82,236  19,744  11,386  77,190  34,891  22,993  93,038
202109  82,139  19,714  11,356  77,030  34,833  23,032  93,008
202110  82,011  19,669  11,335  76,903  34,817  23,020  93,059
202111  81,757  19,633  11,311  76,794  34,764  23,020  93,060
202112  81,636  19,591  11,301  76,718  34,665  23,138  92,947
202201  81,584  19,553  11,268  76,897  34,657  23,302  92,741
202202  81,433  19,535  11,269  77,522  34,593  23,527  92,615
202203  81,248  19,529  11,285  77,845  34,545  23,687  92,568
202204  81,124  19,517  11,263  77,882  34,485  23,721  92,404
202205  80,961  19,516  11,247  77,933  34,408  23,739  92,258
202206  80,854  19,496  11,294  78,009  34,349  23,723  92,168
202207  80,773  19,526  11,256  78,059  34,350  23,787  92,102
202208  80,622  19,560  11,285  78,004  34,370  23,754  91,972
202209  80,242  19,477  11,237  77,852  34,258  23,675  91,516
202210  80,290  19,440  11,215  77,754  34,270  23,620  91,311
202211  80,298  19,411  11,190  77,705  34,236  23,562  91,311
202212  80,278  19,425  11,180  77,641  34,168  23,437  91,287

In [57]:
data1 = pd.read_csv('법정동별_인구수.csv', encoding='cp949')
data1

      Date     중곡동     군자동      능동     구의동     광장동     화양동     자양동
0   202001  85,235  19,902  11,589  79,543  35,876  22,095  97,023
1   202002  85,109  19,897  11,634  79,377  35,981  22,180  97,023
2   202003  85,036  19,888  11,600  79,308  35,872  22,186  96,527
3   202004  84,935  19,894  11,642  79,142  35,814  22,252  96,337
4   202005  84,825  19,935  11,685  79,073  35,794  22,307  96,181
5   202006  84,693  19,952  11,684  78,964  35,749  22,360  96,172
6   202007  84,613  19,980  11,670  78,856  35,754  22,368  96,017
7   202008  84,377  19,940  11,646  78,748  35,704  22,416  95,816
8   202009  84,177  19,958  11,600  78,570  35,685  22,452  95,622
9   202010  84,016  19,897  11,618  78,522  35,575  22,515  95,472
10  202011  84,021  19,936  11,602  78,471  35,528  22,605  95,122
11  202012  83,805  19,930  11,610  78,311  35,440  22,658  94,928
12  202101  83,578  19,894  11,599  78,203  35,388  22,694  94,711
13  202102  83,244  19,882  11,527  78,007  35,336  22,714  94,538
14  202103  82,708  19,793  11,423  77,584  35,180  22,746  93,958
15  202104  82,565  19,790  11,406  77,468  35,120  22,854  93,773
16  202105  82,497  19,824  11,424  77,377  35,071  22,894  93,729
17  202106  82,443  19,812  11,428  77,345  35,017  22,910  93,526
18  202107  82,400  19,745  11,410  77,335  34,964  22,962  93,295
19  202108  82,236  19,744  11,386  77,190  34,891  22,993  93,038
20  202109  82,139  19,714  11,356  77,030  34,833  23,032  93,008
21  202110  82,011  19,669  11,335  76,903  34,817  23,020  93,059
22  202111  81,757  19,633  11,311  76,794  34,764  23,020  93,060
23  202112  81,636  19,591  11,301  76,718  34,665  23,138  92,947
24  202201  81,584  19,553  11,268  76,897  34,657  23,302  92,741
25  202202  81,433  19,535  11,269  77,522  34,593  23,527  92,615
26  202203  81,248  19,529  11,285  77,845  34,545  23,687  92,568
27  202204  81,124  19,517  11,263  77,882  34,485  23,721  92,404
28  202205  80,961  19,516  11,247  77,933  34,408  23,739  92,258
29  202206  80,854  19,496  11,294  78,009  34,349  23,723  92,168
30  202207  80,773  19,526  11,256  78,059  34,350  23,787  92,102
31  202208  80,622  19,560  11,285  78,004  34,370  23,754  91,972
32  202209  80,242  19,477  11,237  77,852  34,258  23,675  91,516
33  202210  80,290  19,440  11,215  77,754  34,270  23,620  91,311
34  202211  80,298  19,411  11,190  77,705  34,236  23,562  91,311
35  202212  80,278  19,425  11,180  77,641  34,168  23,437  91,287

In [58]:
data1['중곡동'] = data1['중곡동'].str.replace(',','')
data1['군자동'] = data1['군자동'].str.replace(',','')
data1['능동'] = data1['능동'].str.replace(',','')
data1['구의동'] = data1['구의동'].str.replace(',','')
data1['광장동'] = data1['광장동'].str.replace(',','')
data1['화양동'] = data1['화양동'].str.replace(',','')
data1['자양동'] = data1['자양동'].str.replace(',','')
data1

      Date    중곡동    군자동     능동    구의동    광장동    화양동    자양동
0   202001  85235  19902  11589  79543  35876  22095  97023
1   202002  85109  19897  11634  79377  35981  22180  97023
2   202003  85036  19888  11600  79308  35872  22186  96527
3   202004  84935  19894  11642  79142  35814  22252  96337
4   202005  84825  19935  11685  79073  35794  22307  96181
5   202006  84693  19952  11684  78964  35749  22360  96172
6   202007  84613  19980  11670  78856  35754  22368  96017
7   202008  84377  19940  11646  78748  35704  22416  95816
8   202009  84177  19958  11600  78570  35685  22452  95622
9   202010  84016  19897  11618  78522  35575  22515  95472
10  202011  84021  19936  11602  78471  35528  22605  95122
11  202012  83805  19930  11610  78311  35440  22658  94928
12  202101  83578  19894  11599  78203  35388  22694  94711
13  202102  83244  19882  11527  78007  35336  22714  94538
14  202103  82708  19793  11423  77584  35180  22746  93958
15  202104  82565  19790  11406  77468  35120  22854  93773
16  202105  82497  19824  11424  77377  35071  22894  93729
17  202106  82443  19812  11428  77345  35017  22910  93526
18  202107  82400  19745  11410  77335  34964  22962  93295
19  202108  82236  19744  11386  77190  34891  22993  93038
20  202109  82139  19714  11356  77030  34833  23032  93008
21  202110  82011  19669  11335  76903  34817  23020  93059
22  202111  81757  19633  11311  76794  34764  23020  93060
23  202112  81636  19591  11301  76718  34665  23138  92947
24  202201  81584  19553  11268  76897  34657  23302  92741
25  202202  81433  19535  11269  77522  34593  23527  92615
26  202203  81248  19529  11285  77845  34545  23687  92568
27  202204  81124  19517  11263  77882  34485  23721  92404
28  202205  80961  19516  11247  77933  34408  23739  92258
29  202206  80854  19496  11294  78009  34349  23723  92168
30  202207  80773  19526  11256  78059  34350  23787  92102
31  202208  80622  19560  11285  78004  34370  23754  91972
32  202209  80242  19477  11237  77852  34258  23675  91516
33  202210  80290  19440  11215  77754  34270  23620  91311
34  202211  80298  19411  11190  77705  34236  23562  91311
35  202212  80278  19425  11180  77641  34168  23437  91287

In [59]:
from prophet import Prophet 
 
dong_name = ['중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동', 'Date']

future = list()
for i in range(2023, 2026): # 2022 2025
    for j in range(1, 13):
        future.append(['%04d-%02d' % (i,j)])

future = pd.DataFrame(future, columns = ['ds'])
future['ds']= pd.to_datetime(future['ds'])

In [60]:
pd.to_datetime(data1['Date'], format='%Y%m')

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
6    2020-07-01
7    2020-08-01
8    2020-09-01
9    2020-10-01
10   2020-11-01
11   2020-12-01
12   2021-01-01
13   2021-02-01
14   2021-03-01
15   2021-04-01
16   2021-05-01
17   2021-06-01
18   2021-07-01
19   2021-08-01
20   2021-09-01
21   2021-10-01
22   2021-11-01
23   2021-12-01
24   2022-01-01
25   2022-02-01
26   2022-03-01
27   2022-04-01
28   2022-05-01
29   2022-06-01
30   2022-07-01
31   2022-08-01
32   2022-09-01
33   2022-10-01
34   2022-11-01
35   2022-12-01
Name: Date, dtype: datetime64[ns]

In [61]:
for i in range(len(data1['Date'])):
    date_time_str = data1['Date'][i]

    date = datetime.datetime.strptime(str(date_time_str), '%Y%m')

    data1['Date'][i] = date

In [62]:
gwangjin_predict = pd.DataFrame()

for i,name in enumerate(dong_name):
    data2 = pd.DataFrame()
    data2 = data1[[name,'Date']]
    data2.columns = ['y','ds']
    data2['ds'] = pd.to_datetime(data2['ds'])

    model = Prophet().fit(data2)
#    print(i,"model_fit")

    forecast = model.predict(future)
    print(i,"model_predict")
    gwangjin_predict = pd.concat([gwangjin_predict, forecast['yhat']], ignore_index = True, axis=1)

21:11:32 - cmdstanpy - INFO - Chain [1] start processing
21:11:55 - cmdstanpy - INFO - Chain [1] done processing
21:11:55 - cmdstanpy - INFO - Chain [1] start processing

0 model_predict

21:12:18 - cmdstanpy - INFO - Chain [1] done processing
21:12:18 - cmdstanpy - INFO - Chain [1] start processing

1 model_predict

21:12:41 - cmdstanpy - INFO - Chain [1] done processing
21:12:42 - cmdstanpy - INFO - Chain [1] start processing

2 model_predict

21:13:05 - cmdstanpy - INFO - Chain [1] done processing
21:13:05 - cmdstanpy - INFO - Chain [1] start processing

3 model_predict

21:13:23 - cmdstanpy - INFO - Chain [1] done processing
21:13:23 - cmdstanpy - INFO - Chain [1] start processing

4 model_predict

21:13:46 - cmdstanpy - INFO - Chain [1] done processing
21:13:47 - cmdstanpy - INFO - Chain [1] start processing

5 model_predict

21:14:09 - cmdstanpy - INFO - Chain [1] done processing

6 model_predict

TypeError: Invalid object type at position 0

In [63]:
gwangjin_predict = pd.concat([gwangjin_predict, forecast['ds']], ignore_index = True, axis=1)

gwangjin_predict.columns = ['중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동', 'Date']

gwangjin_predict=gwangjin_predict[12:]

In [64]:
gwangjin_predict.to_csv('gwangjin_predict.csv',index = False, encoding='cp949')