In [15]:
from prophet import Prophet 
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('pop_data.csv',encoding='cp949', index_col=0)
#df=pd.DataFrame(df)
df

,202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,...,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212
Date,,,,,,,,,,,,,,,,,,,,,
광진구,"351,263","351,032","350,417","350,016","349,800","349,574","349,258","348,647","348,064","347,615",...,"340,707","340,396","340,062","339,893","339,853","339,567","338,257","337,900","337,713","337,416"
화양동,"22,095","22,180","22,186","22,252","22,307","22,360","22,368","22,416","22,452","22,515",...,"23,687","23,721","23,739","23,723","23,787","23,754","23,675","23,620","23,562","23,437"
군자동,"19,902","19,897","19,888","19,894","19,935","19,952","19,980","19,940","19,958","19,897",...,"19,529","19,517","19,516","19,496","19,526","19,560","19,477","19,440","19,411","19,425"
중곡동,"85,235","85,109","85,036","84,935","84,825","84,693","84,613","84,377","84,177","84,016",...,"81,248","81,124","80,961","80,854","80,773","80,622","80,242","80,290","80,298","80,278"
능동,"11,589","11,634","11,600","11,642","11,685","11,684","11,670","11,646","11,600","11,618",...,"11,285","11,263","11,247","11,294","11,256","11,285","11,237","11,215","11,190","11,180"
광장동,"35,876","35,981","35,872","35,814","35,794","35,749","35,754","35,704","35,685","35,575",...,"34,545","34,485","34,408","34,349","34,350","34,370","34,258","34,270","34,236","34,168"
자양동,"97,023","97,023","96,527","96,337","96,181","96,172","96,017","95,816","95,622","95,472",...,"92,568","92,404","92,258","92,168","92,102","91,972","91,516","91,311","91,311","91,287"
구의동,"79,543","79,377","79,308","79,142","79,073","78,964","78,856","78,748","78,570","78,522",...,"77,845","77,882","77,933","78,009","78,059","78,004","77,852","77,754","77,705","77,641"

In [3]:
data = df.T
data.to_csv('법정동별_인구수.csv', encoding='cp949')

In [4]:
data = data[['광진구', '중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동']]
data

Date        광진구     중곡동     군자동      능동     구의동     광장동     화양동     자양동
202001  351,263  85,235  19,902  11,589  79,543  35,876  22,095  97,023
202002  351,032  85,109  19,897  11,634  79,377  35,981  22,180  97,023
202003  350,417  85,036  19,888  11,600  79,308  35,872  22,186  96,527
202004  350,016  84,935  19,894  11,642  79,142  35,814  22,252  96,337
202005  349,800  84,825  19,935  11,685  79,073  35,794  22,307  96,181
202006  349,574  84,693  19,952  11,684  78,964  35,749  22,360  96,172
202007  349,258  84,613  19,980  11,670  78,856  35,754  22,368  96,017
202008  348,647  84,377  19,940  11,646  78,748  35,704  22,416  95,816
202009  348,064  84,177  19,958  11,600  78,570  35,685  22,452  95,622
202010  347,615  84,016  19,897  11,618  78,522  35,575  22,515  95,472
202011  347,285  84,021  19,936  11,602  78,471  35,528  22,605  95,122
202012  346,682  83,805  19,930  11,610  78,311  35,440  22,658  94,928
202101  346,067  83,578  19,894  11,599  78,203  35,388  22,694  94,711
202102  345,248  83,244  19,882  11,527  78,007  35,336  22,714  94,538
202103  343,392  82,708  19,793  11,423  77,584  35,180  22,746  93,958
202104  343,006  82,565  19,790  11,406  77,468  35,120  22,854  93,773
202105  342,812  82,497  19,824  11,424  77,377  35,071  22,894  93,729
202106  342,481  82,443  19,812  11,428  77,345  35,017  22,910  93,526
202107  342,111  82,400  19,745  11,410  77,335  34,964  22,962  93,295
202108  341,505  82,236  19,744  11,386  77,190  34,891  22,993  93,038
202109  341,112  82,139  19,714  11,356  77,030  34,833  23,032  93,008
202110  340,814  82,011  19,669  11,335  76,903  34,817  23,020  93,059
202111  340,339  81,757  19,633  11,311  76,794  34,764  23,020  93,060
202112  339,996  81,636  19,591  11,301  76,718  34,665  23,138  92,947
202201  340,002  81,584  19,553  11,268  76,897  34,657  23,302  92,741
202202  340,494  81,433  19,535  11,269  77,522  34,593  23,527  92,615
202203  340,707  81,248  19,529  11,285  77,845  34,545  23,687  92,568
202204  340,396  81,124  19,517  11,263  77,882  34,485  23,721  92,404
202205  340,062  80,961  19,516  11,247  77,933  34,408  23,739  92,258
202206  339,893  80,854  19,496  11,294  78,009  34,349  23,723  92,168
202207  339,853  80,773  19,526  11,256  78,059  34,350  23,787  92,102
202208  339,567  80,622  19,560  11,285  78,004  34,370  23,754  91,972
202209  338,257  80,242  19,477  11,237  77,852  34,258  23,675  91,516
202210  337,900  80,290  19,440  11,215  77,754  34,270  23,620  91,311
202211  337,713  80,298  19,411  11,190  77,705  34,236  23,562  91,311
202212  337,416  80,278  19,425  11,180  77,641  34,168  23,437  91,287

In [5]:
data.to_csv('법정동별_인구수.csv', encoding='cp949')
data

Date        광진구     중곡동     군자동      능동     구의동     광장동     화양동     자양동
202001  351,263  85,235  19,902  11,589  79,543  35,876  22,095  97,023
202002  351,032  85,109  19,897  11,634  79,377  35,981  22,180  97,023
202003  350,417  85,036  19,888  11,600  79,308  35,872  22,186  96,527
202004  350,016  84,935  19,894  11,642  79,142  35,814  22,252  96,337
202005  349,800  84,825  19,935  11,685  79,073  35,794  22,307  96,181
202006  349,574  84,693  19,952  11,684  78,964  35,749  22,360  96,172
202007  349,258  84,613  19,980  11,670  78,856  35,754  22,368  96,017
202008  348,647  84,377  19,940  11,646  78,748  35,704  22,416  95,816
202009  348,064  84,177  19,958  11,600  78,570  35,685  22,452  95,622
202010  347,615  84,016  19,897  11,618  78,522  35,575  22,515  95,472
202011  347,285  84,021  19,936  11,602  78,471  35,528  22,605  95,122
202012  346,682  83,805  19,930  11,610  78,311  35,440  22,658  94,928
202101  346,067  83,578  19,894  11,599  78,203  35,388  22,694  94,711
202102  345,248  83,244  19,882  11,527  78,007  35,336  22,714  94,538
202103  343,392  82,708  19,793  11,423  77,584  35,180  22,746  93,958
202104  343,006  82,565  19,790  11,406  77,468  35,120  22,854  93,773
202105  342,812  82,497  19,824  11,424  77,377  35,071  22,894  93,729
202106  342,481  82,443  19,812  11,428  77,345  35,017  22,910  93,526
202107  342,111  82,400  19,745  11,410  77,335  34,964  22,962  93,295
202108  341,505  82,236  19,744  11,386  77,190  34,891  22,993  93,038
202109  341,112  82,139  19,714  11,356  77,030  34,833  23,032  93,008
202110  340,814  82,011  19,669  11,335  76,903  34,817  23,020  93,059
202111  340,339  81,757  19,633  11,311  76,794  34,764  23,020  93,060
202112  339,996  81,636  19,591  11,301  76,718  34,665  23,138  92,947
202201  340,002  81,584  19,553  11,268  76,897  34,657  23,302  92,741
202202  340,494  81,433  19,535  11,269  77,522  34,593  23,527  92,615
202203  340,707  81,248  19,529  11,285  77,845  34,545  23,687  92,568
202204  340,396  81,124  19,517  11,263  77,882  34,485  23,721  92,404
202205  340,062  80,961  19,516  11,247  77,933  34,408  23,739  92,258
202206  339,893  80,854  19,496  11,294  78,009  34,349  23,723  92,168
202207  339,853  80,773  19,526  11,256  78,059  34,350  23,787  92,102
202208  339,567  80,622  19,560  11,285  78,004  34,370  23,754  91,972
202209  338,257  80,242  19,477  11,237  77,852  34,258  23,675  91,516
202210  337,900  80,290  19,440  11,215  77,754  34,270  23,620  91,311
202211  337,713  80,298  19,411  11,190  77,705  34,236  23,562  91,311
202212  337,416  80,278  19,425  11,180  77,641  34,168  23,437  91,287

- 법정동별_인구수.csv 에 Date 입력하고 실행하기

In [7]:
data1 = pd.read_csv('법정동별_인구수.csv', encoding='cp949')
data1

      Date      광진구     중곡동     군자동      능동     구의동     광장동     화양동     자양동
0   202001  351,263  85,235  19,902  11,589  79,543  35,876  22,095  97,023
1   202002  351,032  85,109  19,897  11,634  79,377  35,981  22,180  97,023
2   202003  350,417  85,036  19,888  11,600  79,308  35,872  22,186  96,527
3   202004  350,016  84,935  19,894  11,642  79,142  35,814  22,252  96,337
4   202005  349,800  84,825  19,935  11,685  79,073  35,794  22,307  96,181
5   202006  349,574  84,693  19,952  11,684  78,964  35,749  22,360  96,172
6   202007  349,258  84,613  19,980  11,670  78,856  35,754  22,368  96,017
7   202008  348,647  84,377  19,940  11,646  78,748  35,704  22,416  95,816
8   202009  348,064  84,177  19,958  11,600  78,570  35,685  22,452  95,622
9   202010  347,615  84,016  19,897  11,618  78,522  35,575  22,515  95,472
10  202011  347,285  84,021  19,936  11,602  78,471  35,528  22,605  95,122
11  202012  346,682  83,805  19,930  11,610  78,311  35,440  22,658  94,928
12  202101  346,067  83,578  19,894  11,599  78,203  35,388  22,694  94,711
13  202102  345,248  83,244  19,882  11,527  78,007  35,336  22,714  94,538
14  202103  343,392  82,708  19,793  11,423  77,584  35,180  22,746  93,958
15  202104  343,006  82,565  19,790  11,406  77,468  35,120  22,854  93,773
16  202105  342,812  82,497  19,824  11,424  77,377  35,071  22,894  93,729
17  202106  342,481  82,443  19,812  11,428  77,345  35,017  22,910  93,526
18  202107  342,111  82,400  19,745  11,410  77,335  34,964  22,962  93,295
19  202108  341,505  82,236  19,744  11,386  77,190  34,891  22,993  93,038
20  202109  341,112  82,139  19,714  11,356  77,030  34,833  23,032  93,008
21  202110  340,814  82,011  19,669  11,335  76,903  34,817  23,020  93,059
22  202111  340,339  81,757  19,633  11,311  76,794  34,764  23,020  93,060
23  202112  339,996  81,636  19,591  11,301  76,718  34,665  23,138  92,947
24  202201  340,002  81,584  19,553  11,268  76,897  34,657  23,302  92,741
25  202202  340,494  81,433  19,535  11,269  77,522  34,593  23,527  92,615
26  202203  340,707  81,248  19,529  11,285  77,845  34,545  23,687  92,568
27  202204  340,396  81,124  19,517  11,263  77,882  34,485  23,721  92,404
28  202205  340,062  80,961  19,516  11,247  77,933  34,408  23,739  92,258
29  202206  339,893  80,854  19,496  11,294  78,009  34,349  23,723  92,168
30  202207  339,853  80,773  19,526  11,256  78,059  34,350  23,787  92,102
31  202208  339,567  80,622  19,560  11,285  78,004  34,370  23,754  91,972
32  202209  338,257  80,242  19,477  11,237  77,852  34,258  23,675  91,516
33  202210  337,900  80,290  19,440  11,215  77,754  34,270  23,620  91,311
34  202211  337,713  80,298  19,411  11,190  77,705  34,236  23,562  91,311
35  202212  337,416  80,278  19,425  11,180  77,641  34,168  23,437  91,287

In [8]:
data1['광진구'] = data1['광진구'].str.replace(',','')
data1['중곡동'] = data1['중곡동'].str.replace(',','')
data1['군자동'] = data1['군자동'].str.replace(',','')
data1['능동'] = data1['능동'].str.replace(',','')
data1['구의동'] = data1['구의동'].str.replace(',','')
data1['광장동'] = data1['광장동'].str.replace(',','')
data1['화양동'] = data1['화양동'].str.replace(',','')
data1['자양동'] = data1['자양동'].str.replace(',','')
data1

      Date     광진구    중곡동    군자동     능동    구의동    광장동    화양동    자양동
0   202001  351263  85235  19902  11589  79543  35876  22095  97023
1   202002  351032  85109  19897  11634  79377  35981  22180  97023
2   202003  350417  85036  19888  11600  79308  35872  22186  96527
3   202004  350016  84935  19894  11642  79142  35814  22252  96337
4   202005  349800  84825  19935  11685  79073  35794  22307  96181
5   202006  349574  84693  19952  11684  78964  35749  22360  96172
6   202007  349258  84613  19980  11670  78856  35754  22368  96017
7   202008  348647  84377  19940  11646  78748  35704  22416  95816
8   202009  348064  84177  19958  11600  78570  35685  22452  95622
9   202010  347615  84016  19897  11618  78522  35575  22515  95472
10  202011  347285  84021  19936  11602  78471  35528  22605  95122
11  202012  346682  83805  19930  11610  78311  35440  22658  94928
12  202101  346067  83578  19894  11599  78203  35388  22694  94711
13  202102  345248  83244  19882  11527  78007  35336  22714  94538
14  202103  343392  82708  19793  11423  77584  35180  22746  93958
15  202104  343006  82565  19790  11406  77468  35120  22854  93773
16  202105  342812  82497  19824  11424  77377  35071  22894  93729
17  202106  342481  82443  19812  11428  77345  35017  22910  93526
18  202107  342111  82400  19745  11410  77335  34964  22962  93295
19  202108  341505  82236  19744  11386  77190  34891  22993  93038
20  202109  341112  82139  19714  11356  77030  34833  23032  93008
21  202110  340814  82011  19669  11335  76903  34817  23020  93059
22  202111  340339  81757  19633  11311  76794  34764  23020  93060
23  202112  339996  81636  19591  11301  76718  34665  23138  92947
24  202201  340002  81584  19553  11268  76897  34657  23302  92741
25  202202  340494  81433  19535  11269  77522  34593  23527  92615
26  202203  340707  81248  19529  11285  77845  34545  23687  92568
27  202204  340396  81124  19517  11263  77882  34485  23721  92404
28  202205  340062  80961  19516  11247  77933  34408  23739  92258
29  202206  339893  80854  19496  11294  78009  34349  23723  92168
30  202207  339853  80773  19526  11256  78059  34350  23787  92102
31  202208  339567  80622  19560  11285  78004  34370  23754  91972
32  202209  338257  80242  19477  11237  77852  34258  23675  91516
33  202210  337900  80290  19440  11215  77754  34270  23620  91311
34  202211  337713  80298  19411  11190  77705  34236  23562  91311
35  202212  337416  80278  19425  11180  77641  34168  23437  91287

In [9]:
from prophet import Prophet 
 
dong_name = ['광진구', '중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동', 'Date']

future = list()
for i in range(2022, 2026): # 2022 2025
    for j in range(1, 13):
        future.append(['%04d-%02d' % (i,j)])

future = pd.DataFrame(future, columns = ['ds'])
future['ds']= pd.to_datetime(future['ds'])

In [10]:
pd.to_datetime(data1['Date'], format='%Y%m')

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
6    2020-07-01
7    2020-08-01
8    2020-09-01
9    2020-10-01
10   2020-11-01
11   2020-12-01
12   2021-01-01
13   2021-02-01
14   2021-03-01
15   2021-04-01
16   2021-05-01
17   2021-06-01
18   2021-07-01
19   2021-08-01
20   2021-09-01
21   2021-10-01
22   2021-11-01
23   2021-12-01
24   2022-01-01
25   2022-02-01
26   2022-03-01
27   2022-04-01
28   2022-05-01
29   2022-06-01
30   2022-07-01
31   2022-08-01
32   2022-09-01
33   2022-10-01
34   2022-11-01
35   2022-12-01
Name: Date, dtype: datetime64[ns]

In [11]:
for i in range(len(data1['Date'])):
    date_time_str = data1['Date'][i]

    date = datetime.datetime.strptime(str(date_time_str), '%Y%m')

    data1['Date'][i] = date

In [12]:
gwangjin_predict = pd.DataFrame()

for i,name in enumerate(dong_name):
    data2 = pd.DataFrame()
    data2 = data1[[name,'Date']]
    data2.columns = ['y','ds']
    data2['ds'] = pd.to_datetime(data2['ds'])

    model = Prophet().fit(data2)
#    print(i,"model_fit")

    forecast = model.predict(future)
    print(i,"model_predict")
    gwangjin_predict = pd.concat([gwangjin_predict, forecast['yhat']], ignore_index = True, axis=1)

23:01:00 - cmdstanpy - INFO - Chain [1] start processing
23:01:22 - cmdstanpy - INFO - Chain [1] done processing
23:01:23 - cmdstanpy - INFO - Chain [1] start processing

0 model_predict

23:01:45 - cmdstanpy - INFO - Chain [1] done processing
23:01:46 - cmdstanpy - INFO - Chain [1] start processing

1 model_predict

23:02:09 - cmdstanpy - INFO - Chain [1] done processing
23:02:09 - cmdstanpy - INFO - Chain [1] start processing

2 model_predict

23:02:32 - cmdstanpy - INFO - Chain [1] done processing
23:02:32 - cmdstanpy - INFO - Chain [1] start processing

3 model_predict

23:02:55 - cmdstanpy - INFO - Chain [1] done processing
23:02:55 - cmdstanpy - INFO - Chain [1] start processing

4 model_predict

23:03:13 - cmdstanpy - INFO - Chain [1] done processing
23:03:13 - cmdstanpy - INFO - Chain [1] start processing

5 model_predict

23:03:35 - cmdstanpy - INFO - Chain [1] done processing
23:03:36 - cmdstanpy - INFO - Chain [1] start processing

6 model_predict

23:03:59 - cmdstanpy - INFO - Chain [1] done processing

7 model_predict

TypeError: Invalid object type at position 0

In [13]:
gwangjin_predict = pd.concat([gwangjin_predict, forecast['ds']], ignore_index = True, axis=1)

gwangjin_predict.columns = ['광진구', '중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동', 'Date']

gwangjin_predict=gwangjin_predict[12:]

In [14]:
gwangjin_predict.to_csv('gwangjin_predict.csv',index = False, encoding='cp949')

In [22]:
pop = pd.read_csv('gwangjin_predict.csv', encoding='cp949')
pop

,광진구,중곡동,군자동,능동,구의동,광장동,화양동,자양동,Date
0,336952.257069,80657.191592,19455.295358,11121.563932,77179.929877,34017.142747,23408.519336,90009.898041,2023-01-01
1,336530.962904,81090.434049,19512.613448,11159.417340,77599.565989,33986.239743,23498.780200,89964.960717,2023-02-01
2,337525.640137,81910.331135,19573.917888,11296.864278,78213.925063,33750.663748,23515.461885,90039.886086,2023-03-01
3,335647.217849,81621.328546,19586.860737,11245.364768,78535.739288,33534.830381,23532.514109,89508.496508,2023-04-01
4,334913.010391,81208.437024,19545.374308,11163.380793,78407.356398,33487.522748,23556.494670,89258.417150,2023-05-01
5,334861.297718,81169.861019,19496.878995,11214.850251,78404.362034,33414.897055,23534.006152,88988.613832,2023-06-01
6,335273.919033,81155.316905,19571.751368,11209.949857,78455.912968,33425.115457,23642.629758,88973.200124,2023-07-01
7,334984.137255,80993.422471,19648.279208,11253.422572,78440.375442,33473.248777,23584.485964,88938.172503,2023-08-01
8,333166.116015,80477.600591,19520.831745,11192.720027,78313.036648,33308.919023,23465.823408,88411.253683,2023-09-01
9,333150.946588,80840.462250,19500.636049,11175.099615,78259.634382,33350.976171,23443.876746,88294.674169,2023-10-01
10,333232.830453,80835.296045,19442.720673,11159.078493,78281.567901,33302.894096,23415.799696,88335.751510,2023-11-01
11,332620.037136,80597.719738,19452.572000,11137.405631,78287.790061,33233.054287,23246.244182,88582.114405,2023-12-01
12,331779.951903,80824.926412,19493.908329,11024.331840,77371.674384,33070.985705,23209.660226,86611.513631,2024-01-01
13,331343.980122,81280.734502,19561.322889,11078.096781,77910.655851,33110.534009,23348.536065,86601.007669,2024-02-01
14,330452.629844,81467.992872,19565.668493,11050.937941,78370.730816,32852.707254,23335.638613,86203.680790,2024-03-01
15,330654.929039,81614.038688,19559.195597,11104.639802,78454.714113,32676.311785,23390.792694,85992.051903,2024-04-01
16,331147.506116,81954.138083,19638.162843,11221.420890,78852.718181,32540.808122,23397.864740,86042.722412,2024-05-01
17,330782.192617,81723.120231,19678.949467,11263.718639,79092.279797,32508.781434,23396.273553,86318.227754,2024-06-01
18,329835.793059,81510.291652,19622.564759,11161.294554,79148.148244,32492.134254,23369.646748,86165.341681,2024-07-01
19,329523.500867,81377.402946,19568.431397,11159.835301,79018.662420,32453.566371,23383.974944,85845.633556,2024-08-01
20,329239.194894,81280.513545,19572.298376,11136.376227,78819.162942,32445.999406,23386.305950,85532.941099,2024-09-01
21,328223.814385,80699.598108,19501.340485,11105.551492,78632.196894,32399.047664,23267.947041,85155.054103,2024-10-01
22,327474.602025,80712.181069,19529.842617,11061.417480,78436.406939,32392.578628,23147.652507,85071.887306,2024-11-01
23,327781.594805,81118.894204,19554.230145,11072.575074,78209.754810,32329.017500,23110.460639,84474.665285,2024-12-01
24,328085.845199,81814.948680,19563.694623,11125.834366,78664.086142,32203.131942,23101.187952,84581.110576,2025-01-01
25,327748.114328,82227.596559,19601.004431,11137.544147,78873.184515,32029.344102,23093.849580,84512.634872,2025-02-01
26,326406.880738,82111.210983,19629.639943,11069.141078,78940.667295,31916.641727,23160.571084,83409.112774,2025-03-01
27,325933.905320,82120.866525,19630.480806,11089.877464,79109.871231,31726.186548,23202.766650,83099.582385,2025-04-01
28,326009.040754,82208.973609,19669.648666,11140.163768,79336.399394,31619.777960,23215.132061,83053.873301,2025-05-01
29,325735.477158,82037.821244,19679.422596,11184.108664,79493.294716,31574.312493,23206.098113,83145.722250,2025-06-01
30,325242.294994,81890.696845,19665.653689,11113.585341,79544.750666,31566.350833,23224.997334,83033.904650,2025-07-01
31,324948.799188,81749.372525,19656.080446,11127.600000,79451.751472,31557.442339,23216.163018,82808.970706,2025-08-01
32,324150.191840,81509.040027,19616.860827,11092.017145,79275.665379,31497.711492,23177.511043,82424.397349,2025-09-01
33,323459.675608,81242.331977,19562.943272,11065.613559,79133.113849,31480.035426,23090.363097,82132.244118,2025-10-01
34,322995.562557,81256.243784,19562.760260,11031.239250,79011.499108,31459.910031,23001.612187,82090.779264,2025-11-01
35,323005.298198,81451.109709,19581.608168,11032.192833,78869.884808,31394.004877,22920.747412,81785.534697,2025-12-01

In [24]:
pop = pop[['Date', '광진구', '중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동']]
pop.to_csv('gwangjin_predict.csv', encoding='cp949', index=False)
pop

,Date,광진구,중곡동,군자동,능동,구의동,광장동,화양동,자양동
0,2023-01-01,336952.257069,80657.191592,19455.295358,11121.563932,77179.929877,34017.142747,23408.519336,90009.898041
1,2023-02-01,336530.962904,81090.434049,19512.613448,11159.417340,77599.565989,33986.239743,23498.780200,89964.960717
2,2023-03-01,337525.640137,81910.331135,19573.917888,11296.864278,78213.925063,33750.663748,23515.461885,90039.886086
3,2023-04-01,335647.217849,81621.328546,19586.860737,11245.364768,78535.739288,33534.830381,23532.514109,89508.496508
4,2023-05-01,334913.010391,81208.437024,19545.374308,11163.380793,78407.356398,33487.522748,23556.494670,89258.417150
5,2023-06-01,334861.297718,81169.861019,19496.878995,11214.850251,78404.362034,33414.897055,23534.006152,88988.613832
6,2023-07-01,335273.919033,81155.316905,19571.751368,11209.949857,78455.912968,33425.115457,23642.629758,88973.200124
7,2023-08-01,334984.137255,80993.422471,19648.279208,11253.422572,78440.375442,33473.248777,23584.485964,88938.172503
8,2023-09-01,333166.116015,80477.600591,19520.831745,11192.720027,78313.036648,33308.919023,23465.823408,88411.253683
9,2023-10-01,333150.946588,80840.462250,19500.636049,11175.099615,78259.634382,33350.976171,23443.876746,88294.674169
10,2023-11-01,333232.830453,80835.296045,19442.720673,11159.078493,78281.567901,33302.894096,23415.799696,88335.751510
11,2023-12-01,332620.037136,80597.719738,19452.572000,11137.405631,78287.790061,33233.054287,23246.244182,88582.114405
12,2024-01-01,331779.951903,80824.926412,19493.908329,11024.331840,77371.674384,33070.985705,23209.660226,86611.513631
13,2024-02-01,331343.980122,81280.734502,19561.322889,11078.096781,77910.655851,33110.534009,23348.536065,86601.007669
14,2024-03-01,330452.629844,81467.992872,19565.668493,11050.937941,78370.730816,32852.707254,23335.638613,86203.680790
15,2024-04-01,330654.929039,81614.038688,19559.195597,11104.639802,78454.714113,32676.311785,23390.792694,85992.051903
16,2024-05-01,331147.506116,81954.138083,19638.162843,11221.420890,78852.718181,32540.808122,23397.864740,86042.722412
17,2024-06-01,330782.192617,81723.120231,19678.949467,11263.718639,79092.279797,32508.781434,23396.273553,86318.227754
18,2024-07-01,329835.793059,81510.291652,19622.564759,11161.294554,79148.148244,32492.134254,23369.646748,86165.341681
19,2024-08-01,329523.500867,81377.402946,19568.431397,11159.835301,79018.662420,32453.566371,23383.974944,85845.633556
20,2024-09-01,329239.194894,81280.513545,19572.298376,11136.376227,78819.162942,32445.999406,23386.305950,85532.941099
21,2024-10-01,328223.814385,80699.598108,19501.340485,11105.551492,78632.196894,32399.047664,23267.947041,85155.054103
22,2024-11-01,327474.602025,80712.181069,19529.842617,11061.417480,78436.406939,32392.578628,23147.652507,85071.887306
23,2024-12-01,327781.594805,81118.894204,19554.230145,11072.575074,78209.754810,32329.017500,23110.460639,84474.665285
24,2025-01-01,328085.845199,81814.948680,19563.694623,11125.834366,78664.086142,32203.131942,23101.187952,84581.110576
25,2025-02-01,327748.114328,82227.596559,19601.004431,11137.544147,78873.184515,32029.344102,23093.849580,84512.634872
26,2025-03-01,326406.880738,82111.210983,19629.639943,11069.141078,78940.667295,31916.641727,23160.571084,83409.112774
27,2025-04-01,325933.905320,82120.866525,19630.480806,11089.877464,79109.871231,31726.186548,23202.766650,83099.582385
28,2025-05-01,326009.040754,82208.973609,19669.648666,11140.163768,79336.399394,31619.777960,23215.132061,83053.873301
29,2025-06-01,325735.477158,82037.821244,19679.422596,11184.108664,79493.294716,31574.312493,23206.098113,83145.722250
30,2025-07-01,325242.294994,81890.696845,19665.653689,11113.585341,79544.750666,31566.350833,23224.997334,83033.904650
31,2025-08-01,324948.799188,81749.372525,19656.080446,11127.600000,79451.751472,31557.442339,23216.163018,82808.970706
32,2025-09-01,324150.191840,81509.040027,19616.860827,11092.017145,79275.665379,31497.711492,23177.511043,82424.397349
33,2025-10-01,323459.675608,81242.331977,19562.943272,11065.613559,79133.113849,31480.035426,23090.363097,82132.244118
34,2025-11-01,322995.562557,81256.243784,19562.760260,11031.239250,79011.499108,31459.910031,23001.612187,82090.779264
35,2025-12-01,323005.298198,81451.109709,19581.608168,11032.192833,78869.884808,31394.004877,22920.747412,81785.534697

In [25]:
pop = pd.read_csv('gwangjin_predict.csv', encoding='cp949', index_col=0)
pop

,광진구,중곡동,군자동,능동,구의동,광장동,화양동,자양동
Date,,,,,,,,
2023-01-01,336952.257069,80657.191592,19455.295358,11121.563932,77179.929877,34017.142747,23408.519336,90009.898041
2023-02-01,336530.962904,81090.434049,19512.613448,11159.417340,77599.565989,33986.239743,23498.780200,89964.960717
2023-03-01,337525.640137,81910.331135,19573.917888,11296.864278,78213.925063,33750.663748,23515.461885,90039.886086
2023-04-01,335647.217849,81621.328546,19586.860737,11245.364768,78535.739288,33534.830381,23532.514109,89508.496508
2023-05-01,334913.010391,81208.437024,19545.374308,11163.380793,78407.356398,33487.522748,23556.494670,89258.417150
2023-06-01,334861.297718,81169.861019,19496.878995,11214.850251,78404.362034,33414.897055,23534.006152,88988.613832
2023-07-01,335273.919033,81155.316905,19571.751368,11209.949857,78455.912968,33425.115457,23642.629758,88973.200124
2023-08-01,334984.137255,80993.422471,19648.279208,11253.422572,78440.375442,33473.248777,23584.485964,88938.172503
2023-09-01,333166.116015,80477.600591,19520.831745,11192.720027,78313.036648,33308.919023,23465.823408,88411.253683
2023-10-01,333150.946588,80840.462250,19500.636049,11175.099615,78259.634382,33350.976171,23443.876746,88294.674169
2023-11-01,333232.830453,80835.296045,19442.720673,11159.078493,78281.567901,33302.894096,23415.799696,88335.751510
2023-12-01,332620.037136,80597.719738,19452.572000,11137.405631,78287.790061,33233.054287,23246.244182,88582.114405
2024-01-01,331779.951903,80824.926412,19493.908329,11024.331840,77371.674384,33070.985705,23209.660226,86611.513631
2024-02-01,331343.980122,81280.734502,19561.322889,11078.096781,77910.655851,33110.534009,23348.536065,86601.007669
2024-03-01,330452.629844,81467.992872,19565.668493,11050.937941,78370.730816,32852.707254,23335.638613,86203.680790
2024-04-01,330654.929039,81614.038688,19559.195597,11104.639802,78454.714113,32676.311785,23390.792694,85992.051903
2024-05-01,331147.506116,81954.138083,19638.162843,11221.420890,78852.718181,32540.808122,23397.864740,86042.722412
2024-06-01,330782.192617,81723.120231,19678.949467,11263.718639,79092.279797,32508.781434,23396.273553,86318.227754
2024-07-01,329835.793059,81510.291652,19622.564759,11161.294554,79148.148244,32492.134254,23369.646748,86165.341681
2024-08-01,329523.500867,81377.402946,19568.431397,11159.835301,79018.662420,32453.566371,23383.974944,85845.633556
2024-09-01,329239.194894,81280.513545,19572.298376,11136.376227,78819.162942,32445.999406,23386.305950,85532.941099
2024-10-01,328223.814385,80699.598108,19501.340485,11105.551492,78632.196894,32399.047664,23267.947041,85155.054103
2024-11-01,327474.602025,80712.181069,19529.842617,11061.417480,78436.406939,32392.578628,23147.652507,85071.887306
2024-12-01,327781.594805,81118.894204,19554.230145,11072.575074,78209.754810,32329.017500,23110.460639,84474.665285
2025-01-01,328085.845199,81814.948680,19563.694623,11125.834366,78664.086142,32203.131942,23101.187952,84581.110576
2025-02-01,327748.114328,82227.596559,19601.004431,11137.544147,78873.184515,32029.344102,23093.849580,84512.634872
2025-03-01,326406.880738,82111.210983,19629.639943,11069.141078,78940.667295,31916.641727,23160.571084,83409.112774
2025-04-01,325933.905320,82120.866525,19630.480806,11089.877464,79109.871231,31726.186548,23202.766650,83099.582385
2025-05-01,326009.040754,82208.973609,19669.648666,11140.163768,79336.399394,31619.777960,23215.132061,83053.873301
2025-06-01,325735.477158,82037.821244,19679.422596,11184.108664,79493.294716,31574.312493,23206.098113,83145.722250
2025-07-01,325242.294994,81890.696845,19665.653689,11113.585341,79544.750666,31566.350833,23224.997334,83033.904650
2025-08-01,324948.799188,81749.372525,19656.080446,11127.600000,79451.751472,31557.442339,23216.163018,82808.970706
2025-09-01,324150.191840,81509.040027,19616.860827,11092.017145,79275.665379,31497.711492,23177.511043,82424.397349
2025-10-01,323459.675608,81242.331977,19562.943272,11065.613559,79133.113849,31480.035426,23090.363097,82132.244118
2025-11-01,322995.562557,81256.243784,19562.760260,11031.239250,79011.499108,31459.910031,23001.612187,82090.779264
2025-12-01,323005.298198,81451.109709,19581.608168,11032.192833,78869.884808,31394.004877,22920.747412,81785.534697

In [31]:
pop1 = pop.T
pop1

Date,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,...,2025-03-01,2025-04-01,2025-05-01,2025-06-01,2025-07-01,2025-08-01,2025-09-01,2025-10-01,2025-11-01,2025-12-01
광진구,336952.257069,336530.962904,337525.640137,335647.217849,334913.010391,334861.297718,335273.919033,334984.137255,333166.116015,333150.946588,...,326406.880738,325933.905320,326009.040754,325735.477158,325242.294994,324948.799188,324150.191840,323459.675608,322995.562557,323005.298198
중곡동,80657.191592,81090.434049,81910.331135,81621.328546,81208.437024,81169.861019,81155.316905,80993.422471,80477.600591,80840.462250,...,82111.210983,82120.866525,82208.973609,82037.821244,81890.696845,81749.372525,81509.040027,81242.331977,81256.243784,81451.109709
군자동,19455.295358,19512.613448,19573.917888,19586.860737,19545.374308,19496.878995,19571.751368,19648.279208,19520.831745,19500.636049,...,19629.639943,19630.480806,19669.648666,19679.422596,19665.653689,19656.080446,19616.860827,19562.943272,19562.760260,19581.608168
능동,11121.563932,11159.417340,11296.864278,11245.364768,11163.380793,11214.850251,11209.949857,11253.422572,11192.720027,11175.099615,...,11069.141078,11089.877464,11140.163768,11184.108664,11113.585341,11127.600000,11092.017145,11065.613559,11031.239250,11032.192833
구의동,77179.929877,77599.565989,78213.925063,78535.739288,78407.356398,78404.362034,78455.912968,78440.375442,78313.036648,78259.634382,...,78940.667295,79109.871231,79336.399394,79493.294716,79544.750666,79451.751472,79275.665379,79133.113849,79011.499108,78869.884808
광장동,34017.142747,33986.239743,33750.663748,33534.830381,33487.522748,33414.897055,33425.115457,33473.248777,33308.919023,33350.976171,...,31916.641727,31726.186548,31619.777960,31574.312493,31566.350833,31557.442339,31497.711492,31480.035426,31459.910031,31394.004877
화양동,23408.519336,23498.780200,23515.461885,23532.514109,23556.494670,23534.006152,23642.629758,23584.485964,23465.823408,23443.876746,...,23160.571084,23202.766650,23215.132061,23206.098113,23224.997334,23216.163018,23177.511043,23090.363097,23001.612187,22920.747412
자양동,90009.898041,89964.960717,90039.886086,89508.496508,89258.417150,88988.613832,88973.200124,88938.172503,88411.253683,88294.674169,...,83409.112774,83099.582385,83053.873301,83145.722250,83033.904650,82808.970706,82424.397349,82132.244118,82090.779264,81785.534697

In [32]:
pop1['2023'] = pop1['2023-01-01']+pop1['2023-02-01']+pop1['2023-03-01']+pop1['2023-04-01']+pop1['2023-05-01']+pop1['2023-06-01']+pop1['2023-07-01']+pop1['2023-08-01']+pop1['2023-09-01']+pop1['2023-10-01']+pop1['2023-11-01']+pop1['2023-12-01']
pop1['2024'] = pop1['2024-01-01']+pop1['2024-02-01']+pop1['2024-03-01']+pop1['2024-04-01']+pop1['2024-05-01']+pop1['2024-06-01']+pop1['2024-07-01']+pop1['2024-08-01']+pop1['2024-09-01']+pop1['2024-10-01']+pop1['2024-11-01']+pop1['2024-12-01']
pop1['2025'] = pop1['2025-01-01']+pop1['2025-02-01']+pop1['2025-03-01']+pop1['2025-04-01']+pop1['2025-05-01']+pop1['2025-06-01']+pop1['2025-07-01']+pop1['2025-08-01']+pop1['2025-09-01']+pop1['2025-10-01']+pop1['2025-11-01']+pop1['2025-12-01']

pop1

Date,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,...,2025-06-01,2025-07-01,2025-08-01,2025-09-01,2025-10-01,2025-11-01,2025-12-01,2023,2024,2025
광진구,336952.257069,336530.962904,337525.640137,335647.217849,334913.010391,334861.297718,335273.919033,334984.137255,333166.116015,333150.946588,...,325735.477158,325242.294994,324948.799188,324150.191840,323459.675608,322995.562557,323005.298198,4.018858e+06,3.958240e+06,3.903721e+06
중곡동,80657.191592,81090.434049,81910.331135,81621.328546,81208.437024,81169.861019,81155.316905,80993.422471,80477.600591,80840.462250,...,82037.821244,81890.696845,81749.372525,81509.040027,81242.331977,81256.243784,81451.109709,9.725574e+05,9.755638e+05,9.816202e+05
군자동,19455.295358,19512.613448,19573.917888,19586.860737,19545.374308,19496.878995,19571.751368,19648.279208,19520.831745,19500.636049,...,19679.422596,19665.653689,19656.080446,19616.860827,19562.943272,19562.760260,19581.608168,2.343077e+05,2.348459e+05,2.354198e+05
능동,11121.563932,11159.417340,11296.864278,11245.364768,11163.380793,11214.850251,11209.949857,11253.422572,11192.720027,11175.099615,...,11184.108664,11113.585341,11127.600000,11092.017145,11065.613559,11031.239250,11032.192833,1.343291e+05,1.334402e+05,1.332089e+05
구의동,77179.929877,77599.565989,78213.925063,78535.739288,78407.356398,78404.362034,78455.912968,78440.375442,78313.036648,78259.634382,...,79493.294716,79544.750666,79451.751472,79275.665379,79133.113849,79011.499108,78869.884808,9.383792e+05,9.423171e+05,9.497042e+05
광장동,34017.142747,33986.239743,33750.663748,33534.830381,33487.522748,33414.897055,33425.115457,33473.248777,33308.919023,33350.976171,...,31574.312493,31566.350833,31557.442339,31497.711492,31480.035426,31459.910031,31394.004877,4.022855e+05,3.912725e+05,3.800248e+05
화양동,23408.519336,23498.780200,23515.461885,23532.514109,23556.494670,23534.006152,23642.629758,23584.485964,23465.823408,23443.876746,...,23206.098113,23224.997334,23216.163018,23177.511043,23090.363097,23001.612187,22920.747412,2.818446e+05,2.797448e+05,2.776110e+05
자양동,90009.898041,89964.960717,90039.886086,89508.496508,89258.417150,88988.613832,88973.200124,88938.172503,88411.253683,88294.674169,...,83145.722250,83033.904650,82808.970706,82424.397349,82132.244118,82090.779264,81785.534697,1.069305e+06,1.030015e+06,9.960779e+05

In [33]:
del pop1['2023-01-01'],pop1['2023-02-01'],pop1['2023-03-01'],pop1['2023-04-01'],pop1['2023-05-01'],pop1['2023-06-01'],pop1['2023-07-01'],pop1['2023-08-01'],pop1['2023-09-01'],pop1['2023-10-01'],pop1['2023-11-01'],pop1['2023-12-01'],pop1['2024-01-01'],pop1['2024-02-01'],pop1['2024-03-01'],pop1['2024-04-01'],pop1['2024-05-01'],pop1['2024-06-01'],pop1['2024-07-01'],pop1['2024-08-01'],pop1['2024-09-01'],pop1['2024-10-01'],pop1['2024-11-01'],pop1['2024-12-01'],pop1['2025-01-01'],pop1['2025-02-01'],pop1['2025-03-01'],pop1['2025-04-01'],pop1['2025-05-01'],pop1['2025-06-01'],pop1['2025-07-01'],pop1['2025-08-01'],pop1['2025-09-01'],pop1['2025-10-01'],pop1['2025-11-01'],pop1['2025-12-01']

pop1

Date          2023          2024          2025
광진구   4.018858e+06  3.958240e+06  3.903721e+06
중곡동   9.725574e+05  9.755638e+05  9.816202e+05
군자동   2.343077e+05  2.348459e+05  2.354198e+05
능동    1.343291e+05  1.334402e+05  1.332089e+05
구의동   9.383792e+05  9.423171e+05  9.497042e+05
광장동   4.022855e+05  3.912725e+05  3.800248e+05
화양동   2.818446e+05  2.797448e+05  2.776110e+05
자양동   1.069305e+06  1.030015e+06  9.960779e+05

In [51]:
pop1.to_csv('연도별_인구수(23,24,25).csv', encoding='cp949')