In [4]:
import pandas as pd
import numpy as np

In [8]:
parking = pd.read_csv('법정동별_주차면수.csv', encoding='cp949')
parking

   법정동  노상주차장  노외주차장  부설주차장  총 주차면수
0  중곡동    672     16   5541    6229
1  군자동     47      5   1074    1126
2   능동    162      4    824     990
3  구의동    328     11   3375    3714
4  광장동    188      2    336     526
5  화양동    153      5   1138    1296
6  자양동    845     19   3535    4399

In [12]:
car = pd.read_csv('법정동별_차량등록대수.csv')
car

   법정동  자동차등록대수
0  중곡동    21340
1  군자동     5223
2   능동     3060
3  구의동    23478
4  광장동    11646
5  화양동     4186
6  자양동    28952

In [13]:
data = (parking['총 주차면수']/car['자동차등록대수'])*100
data

0    29.189316
1    21.558491
2    32.352941
3    15.819065
4     4.516572
5    30.960344
6    15.194114
dtype: float64

In [14]:
dong = ['중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동']


df = pd.DataFrame(dong, columns=['법정동'])
df['주차장 확보율'] = (parking['총 주차면수']/car['자동차등록대수'])*100
df

   법정동    주차장 확보율
0  중곡동  29.189316
1  군자동  21.558491
2   능동  32.352941
3  구의동  15.819065
4  광장동   4.516572
5  화양동  30.960344
6  자양동  15.194114

In [17]:
da = df.set_index("법정동")
da

       주차장 확보율
법정동
중곡동  29.189316
군자동  21.558491
능동   32.352941
구의동  15.819065
광장동   4.516572
화양동  30.960344
자양동  15.194114

In [16]:
del index
df

NameError: name 'index' is not defined